* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.App {
  height: 100vh;
  background-color: black;
}

.active {
  color: #ffbe0b;
}

.white {
  color: white;
}

.read-or-hide {
  color: rgb(192, 192, 192);
  cursor: pointer;
}

.card-title {
  margin-bottom: 0.4rem;
  height: 60px;
}

.text {
  height: 150px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.text::-webkit-scrollbar {
  display: none;
  /* scrollbar-width: 3px; */
}
.card-desc {
  height: 100px;
  text-overflow: scroll;
}
.card-img {
  margin: 1rem 0;
}

.card-container {
  height: 350px;
}

.product-info {
  width: 400px;
}



